body {
    background: #ededed;
}

main {
    margin: 100px 40px 0;
}

@media only screen and (min-width: 768px) {
    main {
        position: relative;
        margin: 65px 0 15px 280px;
        padding: 40px;
        overflow-x: hidden;
    }
}